.post {
    width: 60%;
    margin: auto;
    padding: 100px 0;
}
.title {
    font-size: 48px;
    font-weight: center;
    text-align: center;
}
.img {
    display: block;
    width: 100%;
    margin: 50px 0;
}
.descr {
    font-size: 28px;
    text-align: center;
}
.date {
    margin-top: 20px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.76);
}